* {
  box-sizing: border-box;
}

html {
  --brand-color: #1ca086;
  --link-hover-color: #3fccb0;
  --linkedin-color: #0077b5;

  --primary-bg-color: #fff;
  --primary-black-bg-color: #0f111a;

  --primary-text-color: rgba(0, 0, 0, 0.8);
  --primary-white-text-color: #fff;

  --code-bg-color: #f8f8f8;

  --primary-icon-color: rgb(50, 56, 63);
  --primary-icon-hover-color: #777;

  --theme-icon-color: var(--primary-icon-color);
  --theme-icon-hover-color: var(--brand-color);

  --transition-duration: 0.2s;

  --scroll-button-color: black;
  --scroll-button-shadow: rgba(255, 255, 255, 0.5) 0px -1px 20px;

  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  transition: var(--transition-duration);
}

html[data-theme='dark'] {
  --primary-bg-color: #0f111a;
  --primary-black-bg-color: #090b10;

  --primary-text-color: rgba(255, 255, 255, 0.8);
  --primary-white-text-color: #fff;

  --code-bg-color: var(--primary-black-bg-color);

  --primary-icon-color: var(--brand-color);
  --primary-icon-hover-color: #fff;

  --theme-icon-color: var(--brand-color);
  --theme-icon-hover-color: var(--primary-icon-hover-color);

  --scroll-button-color: rgb(50, 56, 63);
  --scroll-button-shadow: none;
}

html::-webkit-scrollbar {
  width: 5px;
}

html::-webkit-scrollbar-thumb {
  background: #000;
  /* background: rgba(0, 0, 0, 0); */
  border-radius: 5px;
}

html[data-theme='dark']::-webkit-scrollbar-track {
  background: var(--primary-black-bg-color);
}

html[data-theme='dark']::-webkit-scrollbar-thumb {
  background: var(--brand-color);
  border-radius: 5px;
}

/*
html[data-preload='true'] {
  --transition-duration: 0s;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  transition: var(--transition-duration);
  color: var(--primary-text-color);
  margin-top: 1rem;
}

a {
  text-decoration: none;
  text-shadow: none;
  background-image: none;
  cursor: pointer;
  transition: var(--transition-duration);
}

a:hover {
  color: var(--link-hover-color);
}

div {
  margin: 0;
  padding: 0;
}

img {
  margin-bottom: 0;
}

pre {
  transition: var(--transition-duration);
  background-color: var(--code-bg-color);
}

code {
  transition: var(--transition-duration);
  color: var(--primary-text-color);
}
