html {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  transition: var(--transition-duration);
}

body {
  overflow: hidden;
  color: var(--primary-text-color);
}

strong {
  color: var(--strong-text-color);
}

a {
  color: inherit;
  transition: var(--transition-duration);
}

a:hover {
  color: var(--link-hover-color);
}

table {
  color: var(--primary-text-color);
}

table td {
  border-bottom: 1px solid var(--border-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
strong,
li,
table {
  transition: var(--transition-duration);
}
