a {
  text-decoration: none;
  background-image: none;
}

a:hover {
  text-decoration: underline;
}

div {
  margin: 0;
  padding: 0;
}

img {
  margin-bottom: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
}

pre {
  background-color: #f8f8f8;
}

code {
  /* background-color: red; */
}
