html::-webkit-scrollbar {
  width: 5px;
  transition: var(--transition-duration);
}

html::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--primary-black-bg-color);
  transition: var(--transition-duration);
}

html[data-theme='dark']::-webkit-scrollbar-track {
  background: var(--primary-black-bg-color);
}

html[data-theme='dark']::-webkit-scrollbar-thumb {
  background: var(--brand-color);
  border-radius: 5px;
}
