/* Webkit browser scrollbar */
html::-webkit-scrollbar {
  width: 6px;
}

html::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: var(--primary-black-bg-color);
}

html[data-theme='dark']::-webkit-scrollbar-track {
  background: var(--primary-black-bg-color);
}

html[data-theme='dark']::-webkit-scrollbar-thumb {
  background: var(--brand-color);
}

/* Firefox scrollbar */
html {
  scrollbar-color: var(--primary-black-bg-color) var(--primary-bg-color);
  scrollbar-width: thin;
}

html[data-theme='dark'] {
  scrollbar-color: var(--brand-color) var(--primary-black-bg-color);
}
